.pagination .page-item.active .page-link {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #fff !important;
  }
  .pagination .page-link {
    color: #000 !important;
  }